hacking>=0.5.6,<0.8
discover
fixtures
python-subunit
Sphinx==3.0.4
setuptools_git>=0.4
testscenarios
testtools
testrepository
sphinxcontrib-programoutput
mock
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
